:root {
  --bg-gray: #878787;
  --bg-brown: #100b00;
  --bg-next: #85cb33;
  --bg-purple: #ff4466;
  --bg-green: #1f2421;
  --bg-blue: #216869;
  --logo-yellow: #00bbaa;
  --logo-peach: #ffdab3;
  --logo-purple: #ff4466/*#bb5577*/;
  --logo-bluegreen: #007777;
  --text-color-1: #02182B;
  --text-color-2: #D7263D;
  --text-color-3: #92AFD7;
  --text-color-4: #5A7684;
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 0.8);
  --dark-green: #00bb67;
  --green: #DDFE81;
  --green-lite: rgba(86.7%, 99.6%, 50.6%, 0.7);
}

@keyframes scroll-right {
  0% {right : 0%}
  100% {right: 90%}
}

@keyframes scroll-right-mobile {
  0% {right : 0%}
  100% {right: 100%}
}

.scroll-right {
  animation-name: scroll-right-mobile;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes scroll-left {
  0% {right : 1150px}
  100% {right: 0}
}

.scroll-left {
  animation-name: scroll-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* rotate effect for dropdown arrows*/
@keyframes rotate {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(180deg) }
}

@-webkit-keyframes rotate {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(180deg) }
}

.rotate {
	transform: rotate(180deg);
}

@keyframes slideDown {
  0% { display: none}
  100% {display : flex}
}

@-webkit-keyframes slideDown {
  0% { display : none}
  100% {display : flex}
}

.slideDown {
  animation: slideDown 0.3s forwards;
  -webkit-animation: slideDown 0.3s forwards;
}

.capitalize {
  text-transform: capitalize;
}

.pointer {
  cursor: pointer;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

input, body, button, a {
  font-family: 'Montserrat';
  font-weight: bold;
}

.highlight {
  color: var(--logo-purple);
}

body {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6, {
  color: var(--logo-peach);
}

div {
  font-weight: bold;
  color: #ffddbb;
  font-size: auto;
}

a {
  text-decoration: none;
  font-family: arial;
}

img {
  cursor: pointer;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

ai-flex-start {
  align-items: flex-start;
}

.centralize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centralize-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#device-check{
 display: block;
}

.nav-items {
  font-weight: bold;
  font-family: arial;
  font-size: 120%;
  width: 50%;
  padding-left: 20px;
  height: 100%;
  cursor: pointer;
}

.dropdown {
  display: none;
  visibility: collapse;
  width: 250px;
  height: auto;
  position: absolute;
  z-index: 2;
  background: white;
}

.dropdown-item {
  width: 100%;
  padding: 20px 0 20px 0;
}

.dropdown-item:hover {
  background: lightgrey;
}

.accounts {
  float: right;
  width: 30%;
  //  padding: 20px;
}

.accounts button {
  width: 100%;
  font-size: 50%;
  margin: 3px;
}

.nav-items, .navbar {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.space-between {
  justify-content: space-between;
}

.layer {
  position: fixed;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
  //background-image: url("./assets/tile.png");
  background-image: url("./assets/tile-2.png"),
  linear-gradient(140deg, rgba(0,187,170,1) 0%, rgba(91,0,81,1) 70%);
  //background-repeat: no-repeat;
  background-size: /*200px 200px*/, 100% 100%;
}


.border {
  border: 1px solid black;
}

.mega-logo {
  display: none;
}

tight-contain {
  height: auto;
  width: auto;
}

.content {
  position:relative;
  height: auto;
  width: 100%;
}

.content::after {
  display: block;
  position: absolute;
  z-index: -2;
  content: '';
  height: 100%;
  width : 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  //background: rgba(2,0,36,1);
  //background: rgb(2,0,36);
  //background: linear-gradient(180deg, rgba(2,0,36,1) 30%,
  //rgba(0,136,136,1) 100%);
  background: rgba(245, 245, 245, 1);
}

.toggle {
  border-radius: 2px;
  margin: 5px;
  height: 40px;
  width: 40px;
  background: var(--logo-purple);
}

.navbar {
  background-color: white;
  height: 50px;
  width: 100%;
}

.nav-items {
  position: relative;
  left: -300px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 50px;
  background-color: white;
  display: flex;
  position: absolute;
  z-index: 3;
  width: 50%;
  height: 100%;
  transition: left 0.25s;
}

.from-left {
  left: 0;
}

.toggle {
  cursor: pointer;
}

.nav-item{
  background: 'grey';
  color: rgba(0,0,0,0.98);
  margin: 10px 0px 10px 0px;
}

.countries {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 25px;
}

.country-option {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 35%;
}

.country-option:nth-child(2n) {
  background: rgba(0,187,170,0.2);
}

.country .name {
  margin-left: 20px;
}

.flag {
  height: 15px;
  width: 15px;
}

.flag img {
  width: auto;
}

.current-country .name {
  color: white;
  position: relative;
}

.current-country {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.current-country::after {
  display: block;
  content: "▼";
  margin-left: 10px;
  font-size: 10px;
}

.country-dropdown {
  opacity: 0%;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  z-index: 5;
  background: white;
  margin-top: 50px;
  transition: opacity 0.2s;
}

.show-countries {
  opacity: 100%;
}

.country-option {
  width: 100%;
}

.country-option .name {
  color: black;
}

.mp-banner {
  padding: 5px 20px 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mp-banner-graphic {
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
  display: none;
}

.mp-banner-graphic img {
  object-position: right;
  height: 80%;
}

.mp-banner-text {
  justify-content: flex-start;
  //background: var(--dark-green);
  border-radius: 5px;
  padding: 5px;
}

#text {
  font-family: "Roboto";
  font-weight: bold;
  width: auto;
  text-align: left;
  height: auto;
  color: var(--white);
  font-size: 250%;
}

.search-tools-yellowpages {
  height: 30px;
  width: 80%;
  margin: 20px 0px 20px 0px;
}

.searchbar {
  height: 100%;
  background: var(--logo-yellow);
  transition: box-shadow 0.5s;
}

.searchbar input {
  height: 100%;
}

.searchbar input:focus {
  outline: none;
}

.account-action {
  color : black;
}

.searchbar:hover{
  box-shadow: 0 0 50px var(--logo-purple);
}

.directory {
  width: 88%;
  overflow: hidden;
  background: white;
  color: black;
  height: auto;
  //box-shadow: 0px 0px 30px;
  margin-bottom: 100px;
}

.directory-header {
  height: 90px;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--logo-yellow);
}

.directory-body {
  height: auto;
  //height: 510px;
  flex-wrap: nowrap;
  //overflow-x: hidden;
  overflow-y: visible;
}

a {
  color : black;
  font-family: 'Montserrat';
}

a:hover {
  color: var(--logo-bluegreen);
  text-decoration: underline;
}

.categories-container {
  display: none;
  flex-direction: column;
  align-items: space-evenly;
  transition: display 1s;
}

.directory-item {
  padding: 20px;
  font-size: 100%;
  height: 20px;
  color: black;
  text-transform: capitalize;
  cursor: pointer;
}

.letter-index {
  background: var(--green-lite);
  font-size: 150%;
  border-bottom: 1px solid white;
}

.letter-index:hover {
  background: var(--green);
}

.options {
  width: 100%;
  margin: 10px 0px;
  font-size: 2vh;
}

.option {
  color: black;
  margin-left: 10px;
  font-weight: bold;
  font-family: arial;
}

.offer div {
  padding: 5px;
  color: white;
  font-family: arial;
  font-weight: bold;
}

.main-container {
  height: 91%;
  width: 100%;
  //background: rgb(2,0,36);
  //background: linear-gradient(125deg, rgba(2,0,36,1) 0%, rgba(0,136,136,1) 100%);
  justify-content: flex-start;
  align-items: center;
}

.main {
  height: 100%;
  width: 80%;
  background-color: inherit;
  align-items: center;
}

.action {
  width: 100%;
  height: 25vh;
}

.banner {
  width: 100%;
  height: 100%;
}

.dd-image {
  display: none;
}

.logo {
  width: 100%;
  height: 60%;
}

.logo img {
  filter : brightness(100%);
}

.slogan {
  width: 100%;
  height: auto;
}

.slogan div {
  font-size: 2.65vw;
  width: 100%;
}

.visits {
  width: 100%;
  height: 12.5%;
}

.filters {
  display: none;
  flex-direction: row;
}

.searchbar:active {
  background: rgba(0,187,190,1);
}

.post {
  width: auto;
  margin: 10px;
}

.post button {
  font-size: 3vw;
  background: var(--logo-purple);
  /*background: linear-gradient(180deg, rgba(255,139,171,0.9) 0%,
  rgba(255,68,102,0.9) 100%);*/
  color : white;
  border : 0px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  //box-shadow: 0px 0px 10px var(--logo-purple);
}

.post button:hover {
  box-shadow: 0px 0px 10px var(--logo-purple);
}

.margin {
  margin: 30px;
}

form {
  width: 100%;
  height: 95%;
}

input {
  padding-left: 15px;
  width: 80%;
  height: 90%;
  border: none;
  font-size: 60%;
}

form button {
  cursor: pointer;
  appearance: none;
  border: none;
  background-color: rgba(0,0,0,0);
  width: 20%;
  height: 100%;
  float: right;
  -moz-appearance: none;
}

.searchbar:hover{
  background: rgba(0,187,170,1);
}

.arrow {
  width: 30px;
  height: 30px;
  border-radius: 80px;
  background: rgba(245, 245, 245, 1);
  position: absolute;
  right: 0;
  z-index: 2;
  margin-right: -15px;
  box-shadow: 0px 0px 10px grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#left {
  left: 0;
  margin-left: -15px;
}

.arrow img {
  width: 50%;
  height: 50%;
  transform: rotate(-90deg);
  margin-left: 5px;
}

#left img {
  transform: rotate(90deg);
  margin-right: 10px;
}

.cat-title-icon {
  width : 5%;
  height : 100%;
  margin-right: 5px;
}

footer {
  display: none;
}

form span i{
  height: 100%;
  width: 100%;
}

.category-dropdown-arrow {
  height: 30px;
  width: 30px;
  transition: transform 0.25s;
}

.letter-index {
  justify-content: space-between;
  align-items: center;
}

/*.category-item {
  display: none;
}*/

@media only screen and (min-width : 800px) {

  .main-container {
    margin-top: 100px;
  }

  #device-check {
    display: none;
  }

  .main {
    width: 80%;
  }

  .mp-banner {
    margin: 100px 0px 0px 0px;
    width: 80%;
    height: 400px;
  }

  .directory {
    width: 80%;
    background: white;
    color: black;
    height: auto;
    //box-shadow: 0px 0px 30px;
    margin-bottom: 100px;
  }

  .categories-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-evenly;
	height: 0px;
	transition: height 0.3s;
  }

  .show-categories {
	  height: auto;
    display: flex;
  }

  .directory-header {
    height: 90px;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--logo-yellow);
  }

  .directory-body {
    flex-wrap: nowrap;
    height: auto;
    overflow-y: visible;
  }

  a {
    color : black;
    font-family: 'Roboto';
	transition: color 0.25s;
  }

  a:hover {
    text-decoration: none;
  }

  .directory-item {
    padding: 20px;
    font-size: 110%;
    height: 20px;
    color: black;
    text-transform: capitalize;
	transition: background-color 0.25s;
  }

  .directory-item:hover {
    background-color: rgba(0,0,0,0.075);
  }

  .category-item {
	  display: flex;
	  visibility: hidden;
	  opacity: 0%;
	  transition: opacity 0.25s 0.25s;
  }

  .show-items {
	  visibility: visible;
	  opacity: 100%;
  }

  .letter-index {
    background: var(--green-lite);
    font-size: 150%;
  }

  .letter-index:hover {
    background: var(--green);
  }

  .cat-center {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .subcategory {
    float: left;
  }

  .subcat-image {
    width: 250px;
  }

  .search-tools-yellowpages {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 66px;
    margin-top: 30px;
  }

  .searchbar-yellowpages {
    float: left;

    width : 500px;
    background: var(--logo-yellow);
  }

  .mega-logo {
    display: block;
    width: 60px;
    height: 100%;
  }

  .mega-logo img {
	margin: auto;
  }

  .layer-yellowpages {
    height: 100%;
  }

  td, th {
    padding: 20px;
    height: 50px;
    width: 50%;
  }

  th {
    background: var(--logo-yellow);
    text-align: left;
    color: white;
  }

  tr {
    border: 1px solid lightgrey;
  }

  table select {
    width : 200px;
    margin-right: 10px;
  }

  .banner {
    display: flex;
    height : 30%;
  }

  .cat-title {
    color: #ffddbb;
    height: 2em;
    width: 80%;
    font-size: 150%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
  }

  .action {
    margin-top: 5px;
    height: 48vh;
  }

  .search-tools {
    height: 14%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .location {
    width : 200px;
    height : 90%;
    margin-right: 20px;
    display : flex;
    flex-direction: row;
    align-items: center;
  }

  .dd-image {
    width : 50px;
    height : 50px;
    margin-right: 2px;
  }

  select {
    width: 100%;
    height : 100%;
  }

  .searchbar {
    height : 85%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .searchbar input {
    background: white;
    color: grey;
    font-size: 100%;
    height: 100%;
    width: 100%;
  }

  .slogan div{
    font-size: 2.00vh;
  }

  .offer {
    font-size: 2vh;
    justify-content: flex-start;
  }

  .logo {
    height: 90%;
  }

  .post {
  }

  .post button {
    font-size: 3vh;
  }

  /*remember to change category with category-container*/
  .category-container,.category {
    width: 80%;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-bottom: 100px;
  }

  .category {
    width: 100%;
    overflow: hidden;
    margin: 0;
  }

  .subcategory {
    width: 20%;
    margin: 24px;
    height: 12em;
    font-size: 170%;
    text-transform: capitalize;
  }

  .toggle {
    display: none;
  }

  .navbar {
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    z-index: 3;
    background: transparent;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	  transition: background 0.5s, box-shadow 0.5s;
  }

  .fill-navbar {
    background: #2D2D31;
    box-shadow: 0px 0px 5px black;
  }

  .nav-content  {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }

  #nav-items {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    background-color: transparent;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35%;
  }

  .nav-item a{
    text-transform: uppercase;
    font-size: 80%;
    margin: 0px 0px 0px 30px;
    cursor: pointer;
    color: #DDFE81;
  }

  .mega-logo {
    width: 80px;
  }

  .dropdown-item {
    color: black;
  }

  .accounts {
    display: none;
  }

  .dropdown {
    visibility: visible;
  }

  #country {
    width: 69%;
    margin: 0;
  }

  .country-option {
    padding: 15px;
    transition: background-color 0.1s;
  }

  .country-option:hover{ background: var(--green-lite); }

  .mp-banner {
    flex-direction: row;
    justify-content: space-between;
  }

  .mp-banner-graphic {
    display: flex;
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
  }

  .mp-banner-graphic img {
    object-position: right;
    height: 80%;
  }

  .mp-banner-text {
    justify-content: flex-start;
    //background: var(--dark-green);
    border-radius: 5px;
    //padding: 30px;
  }

  #text {
    font-family: "Roboto";
    font-weight: bold;
    width: auto;
    text-align: left;
    height: auto;
    color: var(--white);
    font-size: 400%;
  }

  .scroll-right {
    animation-name: scroll-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  footer {
	display: flex;
    background: rgba(255,255,255, 1);
    height: auto;
    width: 100%;
	flex-direction: row;
	font-family: Roboto;
    justify-content: center;
    align-items: flex-start;
  }

  footer div {
    color: black;
  }

  footer a {
    font-size: 80%;
    color: grey;
  }

  footer a, footer div, footer span {
	margin: 5px;
  }

  .footer-content {
	margin: 40px 0px 40px 0px;
	flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
	display: flex;
	width: 69%;
	height: 100%;
  }

  #credits {
	  text-decoration: underline;
  }

  .mp-banner, .nav-content, .directory {
	  width: 69%;
  }

}
