:root {
    --bg-gray: #878787;
    --bg-brown: #100b00;
    --bg-next: #85cb33;
    --bg-purple: #553e4e;
    --bg-green: #1f2421;
    --bg-blue: #216869;
    --logo-yellow: #00bbaa;
    --logo-peach: #ffdab3;
    --logo-purple: #ff4466;
    --text-color-1: #02182B;
    --text-color-2: #D7263D;
    --text-color-3: #92AFD7;
    --text-color-4: #5A7684;
}

body {
  margin: 0px;
}

input, body, button, a {
  font-family: 'Roboto';
}

.highlight {
  color: var(--logo-purple);
}

body {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, {
    color: var(--logo-peach);
}

div {
  font-weight: bold;
  color: white;
  font-size: auto;
}

a {
    text-decoration: none;
    font-family: arial;
}

img {
    cursor: pointer;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

ai-flex-start {
    align-items: flex-start;
}

.centralize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centralize-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-items {
  font-weight: bold;
  font-family: arial;
  font-size: 120%;
  width: 50%;
  padding-left: 20px;
  height: 100%;
  cursor: pointer;
}

.dropdown {
  display: none;
  visibility: collapse;
  width: 250px;
  height: auto;
  position: absolute;
  z-index: 2;
  background: white;
}

.dropdown-item {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 12.5px;
  margin-left: 10px;
}

.accounts {
  float: right;
  width: 30%;
  //  padding: 20px;
}

.accounts button {
  width: 100%;
  font-size: 50%;
  margin: 3px;
}

 .nav-items, .navbar {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.space-between {
    justify-content: space-between;
}

.layer {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.border {
    border: 1px solid black;
}

tight-contain {
    height: auto;
    width: auto;
}

.content {
  height: auto;
  width: 100%;
}

.toggle {
  border-radius: 2px;
  margin: 5px;
  height: 40px;
  width: 40px;
  background: var(--logo-purple);
}

.navbar {
  background: rgba(2,0,36,1);
  height: 50px;
  width: 100%;
}

.nav-items {
  padding-top: 10px;
  padding-bottom: 10px;
  top: 40px;
  background-color: white;
  display: flex;
  position: absolute;
  z-index: 1;
  width: 50%;
  height: auto;
}

.nav-item{
  background: 'grey';
  color: black;
  margin: 10px;
}

.account-action {
  color : gray;
}

.offer {
  width: 100%;
  background-color: var(--logo-purple);
  font-size: 2.60vw;
  height: 30px;
}

.options {
  width: 100%;
  margin: 10px 0px;
  color: white;
  font-size: 2vh;
}

.option {
  margin-left: 10px;
  font-weight: bold;
  font-family: arial;
}

.offer div {
  padding: 5px;
  color: white;
  font-family: arial;
  font-weight: bold;
}

.main-container {
  height: 91%;
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(125deg, rgba(2,0,36,1) 0%, rgba(0,136,136,1) 100%);
  justify-content: flex-start;
  align-items: center;
}

.main {
  height: 100%;
  width: 80%;
  background-color: inherit;
  align-items: center;
}

.action {
  width: 100%;
  height: 50vh;
}

.banner {
  width: 100%;
  height: 50%;
}

.logo {
  width: 100%;
  height: 60%;
}

.slogan {
  width: 100%;
  height: auto;
}

.slogan div {
  font-size: 2.65vw;
  width: 100%;
}

.visits {
  width: 100%;
  height: 12.5%;
}

.searchbar {
  width: 100%;
  height: 10%;
  background: var(--logo-yellow);
  border-radius: 10px;
}

.post {
  width: auto;
}

.post button {
  font-size: 3vw;
}

.margin {
  margin: 20px;
}

form {
  width: 100%;
  height: 95%;
}

input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 15px;
  width: 80%;
  height: 90%;
  border: none;
  font-size: 100%;
}

form button {
  cursor: pointer;
  appearance: none;
  border: none;
  background-color: rgba(0,0,0,0);
  width: 20%;
  height: 100%;
  float: right;
  -moz-appearance: none;
}
.searchbar:hover{
  background: lightgrey;
}

.categories {
  height: auto;
  width: 100%;
}

.cat-title {
  font-size: 80%;
  color: black;
  background-color: rgba(51, 119, 102, 0.2);
  width: 100%;
  border-radius: 4px 4px 0px  0px;
  height: 1.25em;
//text-transform: uppercase;
}

.category {
  font-size: 80%;
  margin-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  height: auto;
  align-items: space-between;
  flex-wrap: wrap;
}

.subcategory {
  //box-shadow: 2px 2px 5px lightgrey;
  height: 11vh;
  width: 16%;
  color: black;
  margin: 46px 64px;
  background: white;
}

.subcat-card {
  height : auto;
  width : auto;
  box-shadow: 2px 2px 5px grey;
}

.subcat-image {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.subcat-image img{
  object-fit: cover;
}

.subcat-title {
  color: black;
}


@media only screen and (min-width : 760px) {

  .main {
    width: 60%;
  }

  .cat-title {
    background-color: rgba(51, 119, 102, 0.2);
    height: 2em;
    font-size: 50%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

  .action {
    margin-top: 5px;
    height: 48vh;
  }

  .searchbar {
    height: 14%;
  }

  .searchbar input {
    font-size: 150%;
  }

  .slogan div{
    font-size: 2.00vh;
  }

  .offer {
    font-size: 2vh;
    justify-content: flex-start;
  }

  .logo {
    height: 80%;
  }

  .post button {
    font-size: 3vh;
  }

  .subcategory {
    height: 13em;
    font-size: 170%;
    text-transform: capitalize;
  }

  .toggle {
    display: none;
  }

  .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-item {
    margin: 0px 30px;
    cursor: pointer;
  }

  .dropdown-item {
    color: black;
  }

  .accounts {
    display: none;
  }

  input {
    margin-left: 4px;
  }

  .dropdown {
    visibility: visible;
  }
}
