:root {
  --chevron-color: gray;
  --logo-star-color: #ffd801;
  --logo-garita-color: #885533;
  --logo-blue: #004377;
  --logo-red: #bb3301;
  --logo-green: #66ff55;
  --bg-option-blue: #3e5c76;
  --bg-option-blue2: #00cfc1;
  --bg-option-dandelion: #eeba0b;
  --bg-option-wine: #3c1518;
  --proposals-text: white;
  --proposals-bg-color: #031d33;
  --new-garita-brown:
}

.mobile-toggler {
  display: none;
  background-color: black;
  height :  40px;
  width : 40px;
  cursor: pointer;
}

body {
   background-color: black;
}

h4 {
  color: var(--logo-star-color);
}

h5 {
  color: white;
  font-family: 'Anton';
}

font {cursor:pointer;}

//font:hover {color: var(--logo-star-color);}

.mobile {
  display : none;
}

.centralize-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centralize-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header {
  height: 6px;
  background-image: linear-gradient(90deg, var(--logo-blue), var(--logo-red));
}

.band {
  height: 9px;
  background-color: black;
}

@keyframes blink {
  0% {color: var(--chevron-color);}
//  25% {color: var(--logo-star-color);}
//  75% {color: var(--chevron-color);}
  100% {color: var(--logo-star-color);}
}

@-webkit-keyframes blink {
  0% {color: var(--chevron-color);}
  100% {color: var(--logo-star-color);}
}

@keyframes fadeIn {
  0% {display: none;}
  100% {display: flex;}
}

@-webkit-keyframes fadeIn {
  0% {display: none;}
  100% {display: flex;}
}

@keyframes fromTop{
  0%  {bottom:500px;}
  100% {bottom: 0px;}
}

@-webkit-keyframes fromTop{
  0%  {bottom:500px;}
  100% {bottom: 0px;}
}

@-webkit-keyframes hoverGlow{
  from {color: black}
  to {color: #ffd801 !important}
}

@keyframes hoverGlow{
  from {color: black}
  to {color: #ffd801 !important}
}

a:link {
  text-decoration: none;
}

h1 {
  font-family: 'Anton';
}

p {text-align: justify;}

.column-justify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-justify {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.border {
border: 1px solid red;
}

.navSides, .flex-row {
  display: flex;
  flex-direction: row;
}

.ai-center {
  align-items: center;
}

#logoCC {
//  width: 100%;
}

.logoContainer, #logoContainer {
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top:0;
  right:0;
  left:46.45%;
  bottom:0;
  z-index: 2;
  margin-top: 0.0001vh;
  width: 130px;
  height: 130px;
}

.profile {
  width : 20%;
  height : 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 15px;
  margin-right: 90px;
}

.profile img {
  height: 300px;
  width: 300px;
  padding-right: 70px;
  flex-direction: row;
  justify-content: flex-start;
  object-fit: contain;
}

.descr {
  height: 100%;
  color: white;
  font-weight: bold;
  text-align: justify;
}

.Text {
  display : flex;
  flex-direction: column;
  align-items : center;
  width : 80%;
}

.logoContainer{
  width: 130px;
  height: 130px;
  background-color: black;
}

#logo {
  width: 130px;
  height: 130px;
}

.logo {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.secondary {
  width: 130px;
  height: 130px;
}

.navbar {
  border-bottom-color: var(--logo-garita-color);
  border-bottom-width: 5px;
  height: 40% !important;
}

.navSides {
  justify-content: space-evenly;
  width: 46%;
}

.volver {
  font-size: 20px;
  font-weight: bold;
  color: var(--logo-star-yellow);
}

.volver:hover  {
  cursor : pointer;
}

.nav-item {
  color: white !important;
  font-size: 18px !important;
  position: relative;
}

.nav-item:hover {
  color: #ffd801 !important;
  -webkit-webkit-animation-name: hoverGlow;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: hoverGlow;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

#renacer{color: var(--logo-star-color);}

#banner {
    font: verdana;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    width: 75%;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

h1  {
    font-size: 5vh;
    font-family: Verdana;
}

h2 {
    text-align: center;
    font-family: times;
    color: var(--logo-red);
    font-size: 65px;
}

.donateButton, .bannerText {
    padding-left: 30px;
    font-size: 75px;
}

.donateButton {
    position: relative;
    bottom: 30px;
}

nav {
    background-color:#c74e18;
}

#navbar {
  height : 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbarOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 95%;
    font-weight: 700;
}

#header2 {display:none;}

.pageContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.reto, .retoContent{
  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  //padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  //    border-top: 1px solid gray;
  //    border-bottom: 1px solid gray;
  //background-color: lightgray;
}

.reto {
  justify-content: flex-end;
}

.retoCopy {
  width : 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.retobg {
//  content: "";
  display: none;
  position: absolute;
  top: 0px;
  background-position: top;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  background-repeat: no-repeat;
  background-size: cover;
}

.first{
  background-image: url("./images/yunqueLR.jpg");
}

.second{
  background-image: url("./images/cafeLR.jpg");
}

.third{
  background-image: url("./images/centroconvLR.jpg");
}

.fourth{
  background-image: url("./images/cafeLR.jpg");
}


.reto#second{display:none;}

.reto#second > .retoContent{
  width: 50%;
  height: 90%;
  text-align: justify;
}

.retoCard {
  height: inherit;
}

.retoContent {
  width: 33%;
  margin-top: 5%;
  padding: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.retoBanner {
  display: none;
  position: relative;
  font-family: 'Anton';
  animation-name: fromTop;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  -webkit-animation-name: fromTop;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: backwards;
  width: 33%;
  height: auto;
}

h1#mainTitle{
  font-family:'Anton';
  font-size: 5vw;
  color: white
}

p#mainSubText {
  font-family: 'Oswald';
  font-size: 2vw;
}

p#secondMainText{
  font-family: "Oswald";
  color:white;
  font-size: 24px;
}

.star {
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 50px;
  right: 30px;
}

.profileImageContainer {
    width: inherit;
    height: 30%;
    position: relative;
    justify-content: flex-start;
}

.profileImage {
  object-fit: cover;
  border-radius: 10%;
}

.imageDescription h3 {
    padding: 10px;
    color: beige;
    font-size: 1.5vh;
}

.retoText {
  display: none;
  max-height: 500px;
/*  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-delay: 0.3s;
-webkit-animation-fill-mode: forwards;*/
  border-radius: 3px;
  color: var(--logo-star-color);
  position: relative;
  padding: 1%;
  width: 100%;
  bottom: 100px;
  font-family: 'Oswald';
}

.material-icons {
  font-size:48px;
  cursor: pointer;
}

.mobile-links {
  display : none;
}

.main, #valoresColores, #nuestro, .material-icons {
  -webkit-animation-name: blink;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: blink;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
  position: relative;
  color: orange;
  top: 13px;
  padding-left: 10px;
}



#valoresColores:hover {
  cursor : pointer;
}

.material-icons: hover{

}

p {
    //    text-align: center;
    font-size: 20px;
    font-family: arial;
    line-height: 2.25;
}

.introductoryVideoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    abalign-items: center;
    width: auto;
    height: auto;
//    background-color:;
}

.proposalsSection {
  height: auto;
  position: relative;
  width: inherit;
  justify-content: space-between;
}

.pageContent::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("./images/cafeLR.jpg");
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -2;
  height: 100%;
  width: 100%;
  filter: brightness(50%);
  background-size: cover;
  background-repeat: no-repeat;
}

.proposalContent {
  height: 100%;
  width: 80vw;
  align-items: flex-start;
}

.proposalHeader {
  padding: 5%;
  color: var(--proposals-text);
  font-weight: bold;
}

.proposalsContainer {
  margin-bottom: 3%;
  width: inherit;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.proposalContainer {
  //border: 1px solid gray;
  border-radius: 10px;
  //padding: 1%;
  margin-bottom: 4%;
  //background-color: var(--bg-option-blue);
}

.proposal {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 2%;
  border: 5px solid var(--logo-blue);
  font-weight: bold;
  font-size: 3vh;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
}

.proposal a{
  color: white;
  font-family: 'Oswald';
  font-weight: bold;
}

.material-icons-outlined {
  padding: 1%;
  cursor: pointer;
  color: white;
}

.subproposal {
  display: none;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 0px;
  width: 95%;
  heigt: 100%;
  background-color: rgba(0,0,0,0.5);
  border-bottom-radius: 10px;
}

li .material-icons {
  font-size: 24px;
  position: relative;
  top: 5.5px;
}

.subproposal li {
  color: white;
  font-family: 'Oswald';
  cursor: pointer;
  font-size: 1.5vw;
  margin-bottom: 3%;
}

.subproposal li:hover {color: var(--logo-star-color);}

/*.garitaContainer{
  height:0%;
  width: 100%;
  background-color: var(--logo-garita-color);
  justify-content: flex-end;
  align-items: flex-end;
}

.garitaContainer img{
  height: 200%;
  width: 100%;
  object-fit: contain;
}*/

.separator {
    height: 150px;
}

#propuestaBody {
//  background-image: linear-gradient(135deg, beige 50%, rgba(255, 216, 1, 0.4));
// background-color: var(--proposals-bg-color);
background-color: black;
}

#propuestaBody::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("./images/centroconvLR.jpg");
  top: 0px;
  background-position: top;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
//  opacity: 0.5;
  filter: brightness(50%);
  background-repeat: no-repeat;
  background-size: cover;

}

.propuestaContentContainer {
  height: 100%;
  width: 100%;
}

.propuestaContent {
  height: inherit;
  width: 80%;
  padding: 5%;
  justify-content: flex-start;
}

.retoContent {
  display : flex;
  flex-direction: row;
  justify-content: center;
}

.RetoHeader,
.propuestaHeader {
  padding: 3%;
}

.propContent {
  display: none;
}

.RetoText,
.propuestaText {
  width: 72%;
  padding-bottom: 5%;
}

@supports (-ms-ime-align:auto) {
    .navSides {
        justify-content: center;
    }

	.nav-item {
		margin-left: 5%;
		margin-right: 5%;
	}

}

_:-ms-lang(x), .navSides{ justify-content: center; }

_:-ms-lang(x), .nav-item{ margin-left: 2%; margin-right: 2%}

_:-ms-lang(x), #mainSubText{color:yellow}

_:-ms-lang(x), #second .retoText{color:yellow}

_:-ms-lang(x), .proposalHeader {color:yellow}

@media only screen and (max-width: 800px)  {

  h2 {
    font-size: 35px;
  }

  .logoContainer{display: none;}

  .navbarOptions,
  .navSides{
    flex-direction: column;
  }

  .navSides{display: none;}

  .reto{
    justify-content: center;
  }

  .retoBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  h1#mainTitle{
    font-size: 15vw;
  }

  p#mainSubText{
    font-size: 9vw;
  }

  .star{
    height: 50px;
    width: 50px;
  }

  .retoContent {
    width: 100%;
    margin-top: 30px;
    left: 5px;
  }

  #toIntro .material-icons{
    font-size: 36px;
    padding: 0px;
    top: 8px;
  }

  #mainSubText{
    cursor : pointer;
  }

  .reto#second > .retoContent {
    width: 90%;
    height: 65%;
  }

  p#secondMainText {
    font-size: 15px;
  }

  #second h4 {
    font-size: 20px;
  }

  #second span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #second u {
    margin-top : 20px;
  }

  #second font {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .proposalsSection {
    background-image: url('');
  }

  .proposal{
    font-size: 2vh;
    width: 100%;
  }

  .proposalContent{
    //width: 94%;
  }

  .subproposal li {
    font-size: initial;
  }

  .propuestaContent{
    width: 90%;
  }

  .propuestaText{
    width: 100%;
  }

  #propText, .Text p font {font-size: 15px !important;}

  #header2{
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  .logoMob{
    position: absolute;
    top: 0px;
    height: 100px;
    width: 100px;
    background: black;
    border-radius: 50px;
  }

  .subproposal p {font-size: 15px !important;}

  .profile {
    width : 100%;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 15px 0px;
  }

  .profile img {
    padding : 0px;
    margin: 0px;
  }

  .retoCopy {
    flex-direction: column;
    align-items: center;
  }

  /*.mobile-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150%;
  }*/

  .mobile-link {
    display : flex;
    text-decoration: underline;
  }

  .separator {
    width : 50px;
  }

  .left {
    right : 5px;
  }

  .desktop {
    display: none;
  }

  .mobile {
	  display : flex;
  }

  .mobile-toggler{
    display : block;
    margin-left: 10px;
  }

  .mobile-toggler img{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .material-icons {top: 0px;}
}
