:root {
    --bg-gray: #878787;
    --bg-brown: #100b00;
    --bg-next: #85cb33;
    --bg-purple: #553e4e;
    --bg-green: #1f2421;
    --bg-blue: #216869;
    --logo-yellow: #00bbaa;
    --logo-peach: #ffdab3;
    --logo-purple: #bb5577;
    --logo-bluegreen: #007777;
    --text-color-1: #02182B;
    --text-color-2: #D7263D;
    --text-color-3: #92AFD7;
    --text-color-4: #5A7684;
}

body {
  margin: 0px;
}

input, body, button, a {
  font-family: 'Montserrat';
  font-weight: bold;
}

.highlight {
  color: var(--logo-purple);
}

body {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, {
    color: var(--logo-peach);
}

div {
  font-weight: bold;
  color: #ffddbb;
  font-size: auto;
}

a {
    text-decoration: none;
    font-family: arial;
}

img {
    cursor: pointer;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

ai-flex-start {
    align-items: flex-start;
}

.centralize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centralize-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-items {
  font-weight: bold;
  font-family: arial;
  font-size: 120%;
  width: 50%;
  padding-left: 20px;
  height: 100%;
  cursor: pointer;
}

.dropdown {
  display: none;
  visibility: collapse;
  width: 250px;
  height: auto;
  position: absolute;
  z-index: 2;
  background: white;
}

.dropdown-item {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 12.5px;
  margin-left: 10px;
}

.dropdown-item:hover {
  background: lightgrey;
}

.accounts {
  float: right;
  width: 30%;
  //  padding: 20px;
}

.accounts button {
  width: 100%;
  font-size: 50%;
  margin: 3px;
}

 .nav-items, .navbar {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.space-between {
    justify-content: space-between;
}

.layer {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

  .layer {
    position: absolute;
    display: block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    height: 25%;
    width: 100%;
    //background-image: url("./assets/tile.png");
    background-image: url("./assets/tile.png"),
    linear-gradient(140deg, rgba(0,187,170,1) 0%, rgba(91,0,81,1) 70%);
    //background-repeat: no-repeat;
    background-size: /*200px 200px*/, 100% 100%;
  }


.border {
    border: 1px solid black;
}

tight-contain {
    height: auto;
    width: auto;
}

.content {
  position:relative;
  height: auto;
  width: 100%;
}

.content::after {
  display: block;
  position: absolute;
  z-index: -2;
  content: '';
  height: 100%;
  width : 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  //background: rgba(2,0,36,1);
  //background: rgb(2,0,36);
  //background: linear-gradient(180deg, rgba(2,0,36,1) 30%,
  //rgba(0,136,136,1) 100%);
  background: rgba(245, 245, 245, 1);
}

.toggle {
  border-radius: 2px;
  margin: 5px;
  height: 40px;
  width: 40px;
  background: var(--logo-purple);
}

.navbar {
  background-color: white;
  height: 50px;
  width: 100%;
}

#nav-items {display:none;}

.nav-items {
  padding-top: 10px;
  padding-bottom: 10px;
  top: 40px;
  background-color: white;
  display: flex;
  position: absolute;
  z-index: 1;
  width: 50%;
  height: auto;
}

.nav-item{
  background: 'grey';
  color: rgba(0,0,0,0.98);
  margin: 10px;
}

.account-action {
  color : gray;
}

.offer {
  width: 100%;
  background-color: var(--logo-purple);
  font-size: 2.60vw;
  height: 30px;
}

.options {
  width: 100%;
  margin: 10px 0px;
  color: white;
  font-size: 2vh;
}

.option {
  margin-left: 10px;
  font-weight: bold;
  font-family: arial;
}

.offer div {
  padding: 5px;
  color: white;
  font-family: arial;
  font-weight: bold;
}

.main-container {
  height: 91%;
  width: 100%;
  //background: rgb(2,0,36);
  //background: linear-gradient(125deg, rgba(2,0,36,1) 0%, rgba(0,136,136,1) 100%);
  justify-content: flex-start;
  align-items: center;
}

.main {
  height: 100%;
  width: 80%;
  background-color: inherit;
  align-items: center;
}

.action {
  width: 100%;
  height: 50vh;
}

.banner {
  width: 100%;
  height: 30%;
}

.logo {
  width: 100%;
  height: 60%;
}

.logo img {
  filter : brightness(100%);
}

.slogan {
  width: 100%;
  height: auto;
}

.slogan div {
  font-size: 2.65vw;
  width: 100%;
}

.visits {
  width: 100%;
  height: 12.5%;
}

.searchbar {
  width: 80%;
  height: 10%;
  background: var(--logo-bluegreen);
  border-radius: 10px;
}

.post {
  width: auto;
}

.post button {
  font-size: 3vw;
  background: var(--logo-purple);
  /*background: linear-gradient(180deg, rgba(255,139,171,0.9) 0%,
  rgba(255,68,102,0.9) 100%);*/
  color : white;
  border : 0px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.margin {
  margin: 30px;
}

form {
  width: 100%;
  height: 95%;
}

input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 15px;
  width: 80%;
  height: 90%;
  border: none;
  font-size: 100%;
}

form button {
  cursor: pointer;
  appearance: none;
  border: none;
  background-color: rgba(0,0,0,0);
  width: 20%;
  height: 100%;
  float: right;
  -moz-appearance: none;
}

.searchbar:hover{
  background: lightgrey;
}

.categories {
  height: auto;
  width: 100%;
}

.cat-title {
  font-size: 80%;
  width : auto;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: #ffddbb;
  background-color: var(--logo-bluegreen);/*rgba(51, 119, 102, 1);*/
  width: 100%;
  border-radius: 4px 4px 0px  0px;
  height: 1.25em;
  border-bottom: 2.5px solid rgba(255,255,255,0.1);
  padding: 10px 0px 10px 0px;

}

.category {
  font-size: 80%;
  margin-bottom: 100px;
  //justify-content: center;
  border-radius: 2px 2px 2px 2px;
  width: 100%;
  height: auto;
  align-items: space-between;
  flex-wrap: wrap;
  background: rgba(245, 245, 245, 1);
  box-shadow: 0 0 10px grey;
}

.cat-title-icon {
  width : 5%;
  height : 100%;
  margin-right: 5px;
}

.subcategory {
  //box-shadow: 2px 2px 5px lightgrey;
  height: 11vh;
  width: 24%;
  color: black;
  margin: 19px 4.5%;
  //background: #337766;//rgba(225,225,225,0.2)
}

.subcat-card {
  height : auto;
  width : auto;
  box-shadow: 2px 2px 5px grey;
}

.subcat-image {
  height: 100%;
  width: 100%;
}

.subcat-image img{
  object-fit: cover;
  filter : brightness(80%);
  border-radius: 5px;
}

.subcat-title {
  //color: rgba(225,225,225,0.95);
  color : rgba(0,0,0,0.8);
  padding: 5px;
  text-transform: capitalize;
}

form span i{
  height: 100%;
  width: 100%;
}

@media only screen and (min-width : 800px) {

  .main {
    width: 80%;
  }

  table {
    margin-top: 100px;
    width: 80%;
    background: white;
    border-collapse: collapse;
    border: 1px solid white;
    color: black;
  }

  td, th {
    padding: 20px;
    height: 50px;
    width: 50%;
  }

  th {
    background: var(--logo-yellow);
    text-align: left;
    color: white;
  }

  tr {
    border: 1px solid lightgrey;
  }

  table select {
    width : 200px;
    margin-right: 10px;
  }

  .banner {
    height : 30%;
  }

  .cat-title {
    color: #ffddbb;
    height: 2em;
    font-size: 150%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    }

  .action {
    margin-top: 5px;
    height: 48vh;
  }

  .search-tools {
    height: 14%;
    width: 70%;
    justify-content: center;
  }

  .location {
    width : 200px;
    height : 80%;
    margin-right: 20px;
    display : flex;
    flex-direction: row;
    align-items: center;
  }

  .dd-image {
    width : 50px;
    height : 50px;
    margin-right: 2px;
  }

  select {
    width: 100%;
    height : 100%;
  }

  .searchbar {
    height : 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .searchbar input {
    font-size: 100%;
    height: 100%;
    width: 100%;
  }

  .slogan div{
    font-size: 2.00vh;
  }

  .offer {
    font-size: 2vh;
    justify-content: flex-start;
  }

  .logo {
    height: 90%;
  }

  .post {
  }

  .post button {
    font-size: 3vh;
  }

  .category {
    flex-wrap : wrap;
    width: auto;
  }

  .subcategory {
    width: 20%;
    margin: 22px;
    height: 12em;
    font-size: 170%;
    text-transform: capitalize;
  }

  .toggle {
    display: none;
  }

  .navbar {
    background: white;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .nav-item {
    font-size: 100%;
    margin: 0px 30px;
    cursor: pointer;
  }

  .dropdown-item {
    color: black;
  }

  .accounts {
    display: none;
  }

  input {
    margin-left: 4px;
  }

  .dropdown {
    visibility: visible;
  }
}
