#essay {
	& .article {
		@include flex(column, flex-start, center);
		& .media { 
			margin: 0;
			height: 200px;
		}
		& .media img {
			object-fit: contain; 
		}
		ul {
			list-style-type: square;
		}
		& .index li {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

@media only screen and (min-width: 800px) {
	#essay {
		@include flex(row, center);
		& .article {
			width: 65%;
			
			& .media {
				margin: 50px;
			}
			
			& .index {
				& li {
					font-size: 20px;	
					line-height: 40px; 
				}
				margin-bottom: 50px;
			}
		}
	}	
}