:root {
  --primary: #00BBAA;
  --darkgrey: #1C2B29;
  --lightgrey : #F7F9F9;
  --lightblue: #D9F5F2;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.grid-container {
  display: grid;
  //background: #F2F5F5;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 32px;
  //grid-gap: 5px;
  height: 100%;
  width: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 32px;
    background-image: linear-gradient(45deg, rgba(0,187,170,0.8) 0%, rgba(91,0,81,0.8) 100%);
    grid-column: 1 / 4;
    grid-row: span 2;
}

.categories {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 64px;
  position: absolute;
  top: 0;
  color: #1C2B29;
  left: -50%;
  font-family: roboto;
  z-index: 40;
  background: #F7F9F9;
  transition: left 0.2s;
  overflow-y: scroll;
}

.category-item {
  text-transform: capitalize;
  position: relative;
  display: flex;
  padding: 30px 0px;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  height: auto;
}

.category {
  margin-left: 25px;
  flex-direction: row;
  justify-content: center;
}

.category:after {
  position: absolute;
  right: 30px;
  content: "»";
  font-weight: bold;
  font-size: 15px;
  transform: rotate(90deg);
}

.subcategories {
  display: none;
}

.subcategory {
  margin-left: 50px;
  color: var(--darkgrey);
}

.showMenu {
  display: flex !important;
  left: 0;
}

.showSubcategories {
  height: auto;
  visibility: visible;
}

.menu-section {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: span 2;
}

.logo {
  grid-column: 3;
}

.menu .logo img {
  width: 100%;
  height: 100%;
}

.snackbar {
  position: relative;
  z-index: 80;
  grid-column: 1;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.country {
  grid-column: 5;
}

.country img {
  width: 25%;
  height: 25%;
}

.breadcrumbs {
    color: rgba(0, 0, 0, 0.31);
    font-family: Montserrat;
    font-weight: 600;
    grid-column: 1 / 4;
    grid-row: 3 / span 1;
    background: #F2F5F5;
    border-bottom: 1px solid rgba(196, 196, 196, 0.84);
}

.bc-category {
  color: rgba(0,0,0,0.5);
  font-size: 18px;
}

.bc-category:after {
  content : "|";
  margin: 0px 10px;
}

.bc-country {
  text-transform: capitalize;
  font-size: 15px;
  color: rgba(0,0,0,0.5);
  transition: color 0.2s;
  border-bottom: 2px solid var(--lightblue);
}

.search {
  //grid-column: 5;
  display: flex;
  height: 25px;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.39);
  padding: 2px 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  margin: 10px;
  width: 30%;
}

form {
  display: flex;
  flex-direction: row-reverse;
}

input {
  border: none;
  background: transparent;
  font-size: 15px;
  opacity: 50%;
  width: 100%;
}

input:focus {
  outline: none;
  width: 80%;
}

button {
  color: rgba(0,0,0,0.5);
  border: none;
  background: transparent;
}

label {
  font-size: 11px;
  color: black;
}

#listing-breadcrumbs {
  height: 50px;
  justify-content: space-between;
  background: white;
}

.listado {
  grid-column: 1 / 4;
  font-family: Montserrat;
  background: white;
}

.ad-listing {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.ad-listing:first-child {
  padding-top: 40px;
}

.ad-listing .image {
  width: 33%;
  background: #BFE3F2;
}

.ad-listing .info {
  width: 66%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 11px;
}

.info .price {
  font-size: 18px;
}

.ad-listing .image, .ad-listing .info {
  outline-bottom: 1px solid #8E8D8D;
}

.separator {
  background: lightgrey;
  height: 1px;
  margin: 0px 20px;
}

.listing-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.title, .keywords a{
    color: #4A9193;
}

.keywords {
  display: flex;
  justify-content: flex-start;
}

.keyword {
  margin-right: 10px;
}

.price {
  font-size: 22px;
}

.province { text-transform: capitalize;}

.title { font-weight: bold;}

.province, .phone, .views {
  color: #8E8D8D;
}

.filters {
  grid-row: 4;
  margin: 10px;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
}

.table-row {
  display: grid;
  background: #F7F9F9;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
  //grid-row: span 2;
  grid-auto-rows: auto;
  height: 64px;
}

.table-row:nth-of-type(4n + 1) {
  background: var(--lightblue);
}

.table-cell {
  font-family: roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 1;
  height: 100%;
  color: #1C2B29;
}

.table .logo img {
  max-width: 30px;
  max-height: 30px;
}

.brand {
  color: rgba(0, 0, 0, 0.39);
  font-weight: 30;
}

.brand a{
  text-decoration: none;
  color: #1C2B29;
  text-transform: capitalize;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 15px;
}

.dropdown-arrow {
  width: 30px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2), -2px -2px 8px rgba(255, 255, 255, 0.7);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  border-radius: 100px;
}

.dropdown-arrow span {
  display: flex;
  padding-bottom: 1px;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.models-wrapper {
  display: none;
  height: auto;
  width: 100%;
  grid-column: 1 / 4;
}

.models {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 64px;
  grid-column: 1 / 4;
}

.model {
  text-transform: capitalize;
  font-family: roboto;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s;
  color: var(--darkgrey);
}

.model:hover {
  background-color: rgba(0, 187, 170, 0.05);
}

.model .total {
  color: rgba(0,0,0,0.5);
}

.desktop-only {
  display: none;
}

@media only screen and (min-width : 1000px) {
  .mobile-only {
      display: none;
  }

  .desktop-only {
    display: block;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    background: linear-gradient(298.6deg, rgba(91, 0, 81, 0.44) 0%,
    rgba(0, 187, 170, 0.49) 100%);
  }

  .grid-center {
    grid-column: 4 / 10;
  }

  .menu {
    grid-template-columns: repeat(12, 1fr);
    background: var(--lightgrey);
    grid-column: 1 / 13;
    grid-template-rows: repeat(3, 20px);
    grid-gap: 10px;
    grid-row: 1 / 2;
  }

  .menu-section {
    grid-row: 2;
  }

  .country {
    grid-column: 6;
  }

  .menu .logo {
    grid-column: 4 / span 1;
    grid-row: 2;
    width: 80%;
    justify-content: flex-start;
  }

  .menu .logo img {
    width: 100%;
  }

  .menu .search {
    grid-column: 5;
    display: flex;
    height: 25px;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.39);
    padding: 2px 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 80%;
  }

  form {
    display: flex;
    flex-direction: row-reverse;
  }

  input {
    border: none;
    background: transparent;
    font-size: 15px;
    opacity: 50%;
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  button {
    color: rgba(0,0,0,0.5);
    border: none;
    background: transparent;
  }

  .menu .items {
    grid-column: 7 / 10;
    display: flex;
    justify-content: space-between;
  }

  .menu .items .item {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    color: grey;
    opacity: 75%;
    text-transform: capitalize;
    transition: border-bottom 0.5s;
  }

  .item:hover {
    border-bottom: 1px solid var(--primary);
  }

  .active {
  }

  .menu .items .item.flag {
      height: 16px;
      width: 30px;
      //display: none;
  }

  .onboarding {
    color : var(--primary) !important;
  }

  .items .dropdown:after {
    content: "▼";
    margin-left: 0px;
  }

  .items .active {
    color: var(--darkgrey) !important;
  }

  .country {
    display: flex;
    justify-content: flex-start;
    height: 300%;
  }

  .country img {
    object-position: right;
  }

  .categories {
    padding-top: 0px;
    display: none;
    //grid-gap: 10px;
    grid-template-columns: repeat(24, 1fr);
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 0;
    height: auto;
    margin-top: 80px;
    overflow-y: hidden;
  }

  .category {
    color: rgba(0,0,0,0.3);
    border-bottom: 2px solid var(--primary);
  }

  .category-item:nth-of-type(1) {
    grid-column: 7 / span 3;
  }
/*
  .category-item:nth-of-type(2) {
    grid-column: 5;
  }
  .category-item:nth-of-type(3) {
    grid-column: 7;
  }
  .category-item:nth-of-type(4) {
    grid-column: 9;
  }
*/
  .category-item {
    background: var(--lightgrey);
    justify-content: unset;
    grid-column: span 3;
  }

  .category:after {
    display: none;
  }

  .subcategories {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
  }

  .subcategory {
    margin: 0px;
    padding: 10px 0px;
    transition: background-color 0.15s;
    color: var(--darkgrey);
  }

  .subcategory:hover {
    border-bottom: 2px solid var(--primary);
  }

  .breadcrumbs {
    grid-column: 4 / 10;
    grid-row: 2 / 3;
    height: 50px;
    justify-content: space-between;
    padding: 0px 10px;
    background: var(--lightgrey);
    //background: radial-gradient(circle, rgba(242,245,245,0.5) 0%,
    //rgba(242,245,245,0.1) 100%);
  }

  .filters {
    display: flex;
    flex-direction: row;
  }

  label {
    margin: 0px 10px;
  }

  input {
    margin: 0px 10px;
  }

  .bc-country {
    font-size: 15px;
    font-weight: 500;
  }

  .bc-category {
    font-size: 20px;
    font-weight: normal;
  }

  .bc-country:hover {
    font-weight: bold;
    color: var(--primary);
  }

  .listado {
    grid-row: 3;
    grid-column: 4 / 10;
  }

  .listing-row:last-child {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .table {
    grid-auto-rows: minmax(0px, auto);
    grid-row: span 2;
  }

  .table-row {
    height: 80px;
  }

  .table-row .brand a{
    font-size: 15px;
  }

  .table .logo img {
    max-width: 50px;
    max-width: 50px;
  }

  .models {
    background: white;
    height: 100%;
  }

  .desktop-only {
    display : block;
  }

  .mobile-only {
    display: none;
  }

  .ad-listing:first-child {
    padding-top: 20px;
  }

  .province, .title, .keyword, .vendor {
    font-size: 15px;
  }

}

@media only screen and (max-width : 1500px) {
  .menu .items .item{
    font-size: 10px;
  }
}
