@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
  --primary: #00BBAA;
  --darkgrey: #1C2B29;
  --lightgrey : #F7F9F9;
  --lightblue: #D9F5F2;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

/*a:hover {
  border-bottom: 1px solid var(--primary);
}*/

.pointer {
  cursor: pointer;
}

footer {
  min-height: 100px;
  margin-top: 10px;
  padding: 10px;
  background: white;
  border-top: 1px solid var(--primary);
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
}

.change-columns {
  display: none;
}



.grid-container {
  display: grid;
  //background: #F2F5F5;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 23px;
  //grid-gap: 5px;
  height: 100%;
  width: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 34px;
    background-image: linear-gradient(45deg, rgba(0,187,170,0.8) 0%, rgba(91,0,81,0.8) 100%);
    grid-column: 1 / 4;
    grid-row: 1 / span 3;
}

.publicar {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  padding: 5px;
  width: 9em;
  height: 2em;
  margin: 30px 20px;
  color: white;
  background: #ff4466;
  grid-column: 5;
  grid-row: 2;
  transition: opacity 0.1s;
  border-radius: 5px;
}

.categories {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 64px;
  position: absolute;
  top: 0;
  color: #1C2B29;
  left: -50%;
  font-family: roboto;
  z-index: 40;
  background: #F7F9F9;
  transition: left 0.2s;
  overflow-y: scroll;
}

.category-item {
  text-transform: capitalize;
  position: relative;
  display: flex;
  padding: 30px 0px;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  height: auto;
}

.category {
  margin-left: 25px;
  flex-direction: row;
  justify-content: center;
}

.category:after {
  position: absolute;
  right: 30px;
  content: "»";
  font-weight: bold;
  font-size: 15px;
  transform: rotate(90deg);
}

.subcategories {
  display: none;
}

.subcategory {
  margin-left: 50px;
  color: var(--darkgrey);
}

.showMenu {
  display: flex !important;
  left: 0;
}

.showSubcategories {
  height: auto;
  visibility: visible;
}

.menu-section {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: span 2;
}

.logo {
  grid-column: 3;
}

.menu .logo img {
  width: 110%;
  height: 100%;
}

.snackbar {
  position: relative;
  z-index: 80;
  grid-column: 1;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.paid-ad {
  width: 100% !important;
}

.teaser {
  font-size: 11.5px;
  color: rgba(0,0,0,0.3);
}

.country {
  grid-column: 5;
}

.country.menu-section {
  position: relative;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.country img {
  width: 75%;
  height: 75%;
}

#popup-searchbar {
  width: 100%;
  height: 100%;
  //background: rgba(0,0,0,0.5);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 5 / span 2;
  //transition: left 0.5s;
}

#return {
  color: white;
  font-family: 'Montserrat';
  font-size: 14px;
  text-decoration: underline;
}

.showSearch {
  display: flex !important;
}

.breadcrumbs {
    position: relative;
    color: rgba(0, 0, 0, 0.31);
    font-family: Montserrat;
    font-weight: 600;
    grid-column: 1 / 4;
    grid-row: 4 / span 2;
    background: white;
    height: 50px;
    transition: grid-row 0.2s;
}

.bc-category {
  color: rgba(0,0,0,0.5);
  font-size: 18px;
}

.bc-category:after {
  content : "|";
  margin: 0px 10px;
}

.bc-country {
  text-transform: capitalize;
  font-size: 14px;
  color: rgba(0,0,0,0.5);
  transition: color 0.2s;
  border-bottom: 2px solid var(--lightblue);
}

.bc-province {
  color: rgba(0,0,0,0.4);
}

.bc-category, .bc-country, .bc-province {
    font-weight: 200;
}

.bc-flag {
  width: 19px;
  height: 100%;
  position: absolute;
  right: 22px;
  opacity: 100%;
}

.search {
  //grid-column: 5;
  display: flex;
  height: 25px;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.39);
  padding: 2px 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  margin: 10px;
  width: 30%;
}

.popup-search {
  height: 50px;
  width: 85%;
  background: white;
}

.popup-search input{
  font-size: 15px;

}

label {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  //flex-direction: row-reverse;
  padding: 10px;
  justify-content: center;
  width: 100%;
}

input {
  border: none;
  background: transparent;
  font-size: 11px;
  opacity: 50%;
  width: 100%;
  padding: 10px;
}

input:focus {
  outline: none;
  border: 2px solid var(--primary);
  width: 100%;
}

button {
  color: rgba(0,0,0,0.5);
  border: none;
  background: transparent;
}

label {
  font-size: 15px;
  color: black;
  margin: 0px 5px 0px 15px;
}

label:after {
  display: inline-block;
  //content: "⯆";
}

select {
  opacity: 80%;
  width: 60px;
}

.buscar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background: var(--darkgrey);
  margin-left: 15px;
  color: white;
  width: 1em;
  font-size: 15px;
  font-family: "Montserrat";
  border-radius: 2px;
  box-shadow: 0px 3px 10px var(--darkgrey);
}

input.buscar:focus {
  width: 50px;
}

#listing-breadcrumbs {
  display: flex;
  height: 50px;
  grid-row : 6 / span 2;
  justify-content: center;
  align-items: center;
  background: #ACE9E4;
  font-family: "Montserrat";
}

.filters input { width: 60px;}

.listado {
  grid-column: 1 / 4;
  grid-row: 8;
  font-family: Montserrat;
  height: auto;
  background-image: linear-gradient(45deg, rgba(0,187,170,0.15) 0%,
  rgba(91,0,81,0.15) 100%);
}

.separator:first-child {
  margin-top: 16px;
}

.ad-listing {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background: white;
  height: 190.13px;
  margin-top: 10px;
}

.premium-label {
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 2px;
  background: #ff6984;
  border-radius: 5px;
  position: absolute;
  top: 13px;
}

.paid-ads {
  margin: 0;
  padding: 10px 0px;
  height: auto !important;
  max-height: 400px;
}

.paid-ad:nth-child(2n + 1) {
  margin-left: 10px;
  margin-right: 5px;
}

.paid-ad:nth-child(2n) {
  margin-left: 5px;
  margin-right: 10px;
}

.ad-listing .image {
  width: 73%;
  background: #E7F8F6;
}

.ad-listing .info {
  width: 66%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
  font-size: 15px;
  padding: 10px;
  //background: rgba(0,0,0,0.05);
}

.info .price {
  font-size: 18px;
}

.province {
  font-size: 14px;
}

.ad-listing .image, .ad-listing .info {
  outline-bottom: 1px solid #8E8D8D;
}

.separator {
  background: rgba(0,0,0,0.05);
  height: 1px;
  margin: 0px 10px;
}

.listing-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.title, .keywords a {
    color: #4A9193;
}

.keywords {
  display: flex;
  justify-content: flex-start;
}

.keyword {
  margin-right: 10px;
}

.province {
  text-transform: capitalize;
}

.title { font-weight: bold;
  font-size: 12px;
}

.province, .phone, .views {
  color: #8E8D8D;
}

.views {
  color: rgba(0,0,0,0.3);
  font-size: 12px;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
}

.table-row {
  display: grid;
  background: #F7F9F9;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
  //grid-row: span 2;
  grid-auto-rows: auto;
  height: 64px;
}

.table-row:nth-of-type(4n + 1) {
  background: var(--lightblue);
}

.table-cell {
  font-family: roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 1;
  height: 100%;
  color: #1C2B29;
}

.table .logo img {
  max-width: 30px;
  max-height: 30px;
}

.paid-ads {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paid-ads span {
  margin-bottom: 10px;
  font-size: 11px;
  color: rgba(0,0,0,0.5);
}

.paid-ads-images {
  display: flex;
  flex-direction: row;
}

.brand {
  color: rgba(0, 0, 0, 0.39);
  font-weight: 30;
}

.brand a{
  text-decoration: none;
  color: #1C2B29;
  text-transform: capitalize;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 15px;
}

.dropdown-arrow {
  width: 30px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2), -2px -2px 8px rgba(255, 255, 255, 0.7);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  border-radius: 100px;
}

.dropdown-arrow span {
  display: flex;
  padding-bottom: 1px;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.models-wrapper {
  display: none;
  height: auto;
  width: 100%;
  grid-column: 1 / 4;
}

.models {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 64px;
  grid-column: 1 / 4;
}

.model {
  text-transform: capitalize;
  font-family: roboto;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s;
  color: var(--darkgrey);
}

.model:hover {
  background-color: rgba(0, 187, 170, 0.05);
}

.model .total {
  color: rgba(0,0,0,0.5);
}

.desktop-only, .desktop-only-flex {
  display: none;
}

.center {
  grid-column: 1 / 4;
}

.info {
  font-size: 13px !important;
}

.selected {
  border: 3px solid var(--primary);
}

@media only screen and (min-width : 850px) {

  .paid-ad {
    width: 33% !important;
    max-height: 192.3px !important;
  }

  .paid-ads {
    max-height: 236.31px !important;
  }

  .change-columns {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    padding: 10px;
    background: #ff4466;
    margin-left: 5px;
  }

  .change-columns button {
    background: white;
    border-radius: 10px;
    color: black;
  }

  .change-columns  button:first-child {
    margin-right: 10px;
  }

  body {
    height: 100%;
    width: 100%;
    background: none;
  }

  body::after {
    background-image: url("https://clasitronicos.com/assets/tile-2.png");
    position: fixed;
    display: block;
    content: "";
    filter: brightness(400%) opacity(150%) saturate(200%);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;
  }

  .mobile-only {
      display: none;
  }

  .desktop-only {
    display: block;
  }

  .desktop-only-flex {
    display: flex;
  }

  .ad-listing .image {
    width: 75%;
    background: #E7F8F6;
  }

  body {
    background: linear-gradient(140deg, rgba(0,187,170,0.9) 0%,
    rgba(91,0,81,0.9));
  }

  .menu .items .item {
    font-size: 14px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px;
    height: 100%;
    width: 100%;
  }

  .grid-center {
    grid-column: 4 / 10;
  }

  .menu {
    min-width: 946px;
    grid-template-columns: repeat(12, 1fr);
    background: white;
    grid-column: 1 / 13;
    grid-template-rows: repeat(3, 20px);
    grid-gap: 10px;
    grid-row: 1 / span 2;
    box-shadow: 2px 2px 150px var(--darkgrey);
  }

  .menu-section {
    grid-row: 2;
  }

  .country {
    grid-column: 6;
  }

  .menu .logo {
    grid-column: 3 / span 1;
    grid-row: 2;
    width: 100%;
    justify-content: center;
  }

  .menu .logo img {
    width: 100%;
  }

  .menu .search {
    grid-column: 5;
    display: flex;
    height: 25px;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.39);
    padding: 2px 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 80%;
  }

  .search {
    padding: 0px;
    margin: 0px;
  }

  #popup-searchbar {
    grid-row: 3;
  }

  .popup-search {
    width: 100%;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  input {
    border: none;
    background: transparent;
    font-size: 11px;
    opacity: 50%;
    width: 100%;
  }

  input:focus {
    outline: none;
    width: 100%;
  }

  button {
    cursor: pointer;
    color: rgba(0,0,0,0.5);
    border: none;
    background: transparent;
  }

  .menu .items {
    grid-column: 6 / 11;
    display: flex;
    justify-content: space-between;
  }

  .menu .items .item {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    color: var(--darkgrey);
    opacity: 75%;
    text-transform: capitalize;
    transition: border-bottom 0.5s;
  }

  .publicar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    padding: 5px;
    width: 10em;
    height: 2em;
    color: white;
    margin: 0;
    background: #ff4466;
    grid-column: 4;
    grid-row: 2;
    transition: opacity 0.1s;
    border-radius: 5px;
  }

  .publicar:hover {
    opacity: 80%;
  }

  .item:hover {
    border-bottom: 1px solid var(--primary);
  }

  .active {
  }

  .menu .items .item.flag {
      height: 16px;
      width: 30px;
      //display: none;
  }

  .onboarding {
    color : var(--primary) !important;
  }

  .items .dropdown:after {
    content: "▼";
    margin-left: 0px;
  }

  .items .active {
    color: var(--darkgrey) !important;
  }

  .country {
    display: flex;
    justify-content: flex-start;
    height: 300%;
  }

  .country img {
    object-position: right;
  }

  .categories {
    padding-top: 0px;
    display: none;
    //grid-gap: 10px;
    grid-template-columns: repeat(24, 1fr);
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 0;
    height: auto;
    margin-top: 80px;
    overflow-y: hidden;
  }

  .category {
    color: rgba(0,0,0,0.3);
    border-bottom: 2px solid var(--primary);
  }

  .category-item:nth-of-type(1) {
    grid-column: 7 / span 3;
  }
/*
  .category-item:nth-of-type(2) {
    grid-column: 5;
  }
  .category-item:nth-of-type(3) {
    grid-column: 7;
  }
  .category-item:nth-of-type(4) {
    grid-column: 9;
  }
*/
  .category-item {
    background: var(--lightgrey);
    justify-content: unset;
    grid-column: span 3;
    font-size: 15px;
  }

  .category:after {
    display: none;
  }

  .subcategories {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
  }

  .subcategory {
    margin: 0px;
    padding: 10px 0px;
    transition: background-color 0.15s;
    color: var(--darkgrey);
  }

  .subcategory:hover {
    border-bottom: 2px solid var(--primary);
  }

  .min-width { min-width: 946px; }

  .breadcrumbs {
    grid-row: 3 / 4;
    height: 50px;
    justify-content: center;
    padding: 0px 0px;

    background: white;
    //background: radial-gradient(circle, rgba(242,245,245,0.5) 0%,
    //rgba(242,245,245,0.1) 100%);
    border-bottom: 1px solid rgba(196, 196, 196, 0.84);
  }

  .bc-flag {
    width: 74px;
    height: 25%;
    position: absolute;
    right: 0;
  }

  #listing-breadcrumbs {
    grid-row: 4;
  }

  .filters form {
    justify-content: center;
  }

  .filters {
    display: flex;
    flex-direction: row;
  }

  label {
    margin: 0px 10px;
  }

  .bc-country {
    font-size: 15px;
    font-weight: normal;
  }

  .bc-category {
    font-size: 20px;
    font-weight: normal;
  }

  .bc-country:hover {
    font-weight: bold;
    color: var(--primary);
  }

  .listado {
    background: none;
    grid-row: 5;
  }

  .listing-row:last-child {
    width: 100%;
    bottom: 0;
  }

  .listing-row {
    margin-bottom: 1%;
  }

  .make-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .table {
    grid-auto-rows: minmax(0px, auto);
    grid-row: span 2;
  }

  .table-row {
    height: 80px;
  }

  .table-row .brand a{
    font-size: 15px;
  }

  .info .price {
    font-size: 22px;
  }

  .table .logo img {
    max-width: 50px;
    max-width: 50px;
  }

  .models {
    background: white;
    height: 100%;
  }

  .desktop-only {
    display : block;
  }

  .mobile-only {
    display: none;
  }

  .ads {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: height 0.25s;
  }

  .ad-listing {
    display: flex;
    flex-direction: column;
    width: 45.25%;
    height: auto !important;
  }

/*  .ad-listing-3 {
    width: 30.5%;
  }

  .ad-listing-4 {
    width: 22.7%;
  }*/

  .ad-listing .info {
    width: 100%;
    margin: 0px;
    height: 100%;
    padding: 0px;
    margin-top: 10px;
    background: transparent;
  }

  .paid-ads {
      width: 100%;
  }

  .separator {
    display: none;
    margin: 0px 20px;
  }

  .separator:first-child {
    display: none;
  }

  .ad-image {
    width: 100% !important;
  }

  .phone, .views {
    font-size: 15px;
  }

  .province, .title, .keyword, .vendor {
    font-size: 15px;
  }

  .circle { background: transparent; }

  .paid-ads-images {
    height: 80%;
    width: 100%;
    justify-content: center;
  }

  .paid-ads-images a{
    background: transparent !important;
  }

  .buscar {
    padding: 0px;
  }

  .center {
    grid-column: 3 / 11;
  }

}

@media only screen and (min-width : 1300px) {

  .country {
    grid-column: 6;
  }

  .menu .logo {
    grid-column: 3 / span 1;
    grid-row: 2;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    justify-content: center;
  }

  .publicar { grid-column : 4; }

  .menu .items { grid-column : 7 / 11; }

  .ad-listing-width {
      width: 15.5%;
  }

  .change-columns {
    display: flex;
  }
}
