@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Montserrat";
}

.ad-preview {
  margin-top: 11px;
  width: 145px;
  height: 100%;
}
.ad-preview .image {
  background: #EFE8E8;
  width: unset;
  height: 98px;
}

.listing-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 55%;
  margin-top: 4px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  min-height: 28px;
  height: 7vh;
  max-height: 50px;
  text-transform: capitalize;
  background: white;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}

section.form {
  height: 55%;
  min-height: 150px;
}
section.form form {
  width: 85%;
}
section.form form fieldset {
  padding: 11px;
  width: 100%;
}

section.preview {
  min-height: 150px;
}

label {
  display: block;
  margin-bottom: 9px;
  padding: 0px;
  margin: 0px;
}

input, select, textarea {
  margin-bottom: 9px;
  height: 25px;
  width: 220px;
  min-width: 100px;
}

textarea {
  height: 60px;
}

:root {
  --pink: #FF4466;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #BFEEEA;
}

header, label {
  font-weight: 600;
}

label {
  text-transform: uppercase;
  font-size: 12px;
}

button {
  background-color: #FF4466;
  color: white;
  text-decoration: none;
  border: 0px;
  padding: 10px 5px;
  width: 90px;
}

.scrollY {
  overflow-y: scroll;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
}

#photoFields {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 300px;
}

#photoFields label {
  margin: 0px;
  display: inline-block;
}

#photoFields div {
  width: 100%;
  margin-top: 30px;
}

#photoFields div input {
  width: 80% !important;
}

.photoError::after {
  content: "Error: el formato de la imagen es invalido.";
  display: block;
  color: #FF4466;
}

section {
  width: 25%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.form {
  max-height: 500px;
}

form {
  height: 80%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

#formScrollButtons {
  width: 80%;
  position: relative;
}

#formScrollButtons button:nth-child(1) {
  position: absolute;
  left: 0;
}

#formScrollButtons button:nth-child(2) {
  position: absolute;
  right: 0;
}

#formScrollButtons button:nth-child(3) {
  position: absolute;
  right: 0;
}

fieldset {
  width: 100%;
  display: inline-block;
  border: 0;
  overflow-y: hidden;
}

.ad-preview {
  background: white;
  padding: 10px;
}

select, input {
  height: 25px;
}

.required::after {
  content: "*";
  color: #FF4466;
  display: inline-block;
}

.alert::before {
  content: "*";
  color: #FF4466;
  display: inline-block;
}

legend {
  visibility: hidden;
}

.publish-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

input:invalid + label:before {
  display: block;
  color: var(--pink);
  content: "invalido";
  margin-bottom: 20px;
}

input[type=tel]:invalid,
input[type=email]:invalid,
input[type=text]:invalid {
  border: 2px solid var(--pink);
}

input[type=submit] {
  margin-top: 10px;
}

.invalidFormError:after {
  display: block;
  position: absolute;
  content: "Quedan campos que necesitan atencion.";
  color: var(--pink);
  bottom: 0;
  margin: 10px 0px;
  font-weight: bold;
}

.invalidFormError {
  position: relative;
}

.premium-pitch {
  display: flex;
  flex-direction: row;
  height: 80%;
}

.publish-option {
  border: 1px solid white;
  height: 100%;
  position: relative;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  padding: 10px;
  min-width: 91px;
}

.publish-option h4, h5, .price {
  height: 10%;
  text-transform: capitalize;
}

.publish-option ul {
  height: 100%;
}

.publish-optiont a, .publish_option input {
  margin-top: 5px;
  width: 90px;
}

.publish-option li {
  font-size: 80%;
}

.option_price {
  color: green;
  border-bottom: 1px solid white;
}

.publish-option span {
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.actions {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perks, .perks span {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.actions a {
  background: whitesmoke;
  color: black;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 1px 0px;
  text-decoration: none;
}

.actions input {
  width: 100%;
}

.actionDisabled {
  pointer-events: none;
  opacity: 50%;
}

ul {
  padding: 3px;
  margin-top: 3px;
}

/*    input[type="tel"]:invalid + label:before {

}*/

/*# sourceMappingURL=publicar.scss.map */
