@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Montserrat";
}

button, a.button {
  background-color: #FF4466;
  color: white;
  text-decoration: none;
  border: 0px;
  border-radius: 5px;
  padding: 10px 5px;
  width: 90px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.display-none {
  display: none !important;
}

#spinner {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
}
#spinner a {
  color: white;
  width: auto;
}

#spinner h1 {
  color: white;
  text-align: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ad-preview {
  margin-top: 11px;
  width: 145px;
  height: 100%;
}
.ad-preview .image {
  background: #EFE8E8;
  width: unset;
  height: 98px;
}

.listing-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 55%;
  margin-top: 4px;
  padding: 0px;
}

@media only screen and (min-width: 800px) {
  .ad-preview {
    height: auto;
  }
  .ad-preview .listing-row {
    font-size: 80%;
  }
  .ad-preview .image {
    height: 120px;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  min-height: 28px;
  height: 7vh;
  max-height: 50px;
  text-transform: capitalize;
  background: white;
}

main {
  height: calc(100% - $headerHeight);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}

h4 {
  font-size: 10px;
}

section {
  width: 25%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.form {
  max-height: 500px;
}

form {
  height: 80%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

section.form {
  height: 61.803398875%;
  min-height: 150px;
}
section.form form {
  width: 85%;
}
section.form form fieldset {
  padding: 11px;
  width: 100%;
}

section.preview {
  min-height: 100px;
  height: 38.196601125%;
}

label {
  display: block;
  margin-bottom: 9px;
  padding: 0px;
  margin: 0px;
}

input, select, textarea {
  margin-bottom: 9px;
  height: 25px;
  width: 220px;
  min-width: 100px;
}

textarea {
  height: 60px;
}

legend {
  display: none;
}

#formScrollButtons {
  width: 80%;
  position: relative;
}

@media only screen and (min-width: 800px) {
  main {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 600px;
    max-height: 1000px;
    padding-top: 2.5%;
  }

  section {
    width: 40%;
    max-width: 320px;
    height: 100%;
  }

  section.form, section.preview {
    height: 100%;
    max-height: none;
  }

  section.preview {
    justify-content: center;
    height: 75%;
  }

  section.form form {
    width: 100%;
  }
  section.form form label {
    font-size: 16px;
  }
  section.form form input, section.form form select, section.form form textarea {
    width: 290px;
    margin: 18px 0px;
  }
  section.form form input, section.form form select {
    height: 40px;
  }
  section.form form textarea {
    height: 30%;
  }

  #formScrollButtons {
    width: 100%;
    padding-top: 18px;
  }

  fieldset#photoFields {
    border-bottom: 0px;
    height: 90%;
  }
  fieldset#photoFields input {
    width: 390px;
  }

  .alert {
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 18px;
  }

  #captchas {
    width: 320px;
  }
}
@media only screen and (min-width: 1200px) {
  section {
    max-width: 430px;
  }

  section.form form input, section.form form select, section.form form textarea {
    width: 400px;
  }

  #captchas {
    width: 430px;
  }
}
#photofields div {
  margin-top: 5px;
}

#photoFields {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 200px;
  border-bottom: 2px solid white;
}

#photoFields label {
  margin: 0px;
  display: inline-block;
}

#photoFields div {
  width: 100%;
}

#captchas {
  max-height: 300px;
  display: flex;
  justify-content: space-between;
}

.captcha {
  width: 47%;
  height: 100%;
}

.captcha_choices div {
  width: 120px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 5px;
}
.captcha_choices div input[type=radio] {
  height: 14px;
  width: 25%;
  min-width: unset;
  padding: 0px;
  margin: 0px;
}

.captcha img {
  width: 50%;
  object-position: center;
  margin-left: 9px;
  border-radius: 1000px;
}

.captcha label, .captcha input {
  display: inline;
}

.captcha_choices {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
}

.publish-option {
  border-bottom: 1px solid white;
  height: 3em;
  position: relative;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  min-width: 91px;
}
.publish-option h5 {
  text-align: left;
}
.publish-option h4.option_price {
  border: none;
  font-size: 80%;
  text-align: center;
}

.title-info {
  display: flex;
  background: none;
  color: black;
  font-size: 80%;
  padding: 0px;
  margin: 0px;
  justify-content: flex-start;
}
.title-info h5 {
  width: 66%;
}

.info-icon {
  display: inline;
  position: relative;
  margin: 0px !important;
}

.publish-option .title-info .info-icon span {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 84%;
  margin: 0px;
  color: green;
  font-weight: bold;
  margin: 0;
}

.publish-option h4, h5, .price {
  height: 10%;
  text-transform: capitalize;
}

.price, .title-info, .actions {
  width: 33%;
}

.publish-option ul {
  height: 100%;
}

.publish-option a, .publish_option input {
  margin-top: 5px;
  width: 90px;
}

.publish-option li {
  font-size: 80%;
}

.option_price {
  color: #30b360;
  border-bottom: 1px solid white;
}

.publish-option span {
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.publish-option:nth-of-type(3) .actions,
.publish-option:nth-of-type(1) .actions {
  justify-content: center;
}

.actions {
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 125%;
  justify-content: space-between;
}

.perks {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
.perks span {
  text-align: left;
}

.perks {
  position: absolute;
  z-index: 10;
  width: 80%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 80%;
  width: auto;
  font-family: "Montserrat";
}

#tool-close {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
}

.actions input {
  width: 100%;
}

.actionDisabled {
  pointer-events: none;
  opacity: 50%;
  color: white !important;
  background-color: #FF4466 !important;
}

.invalidFormError:after {
  display: block;
  content: "Quedan campos que necesitan atencion.";
  color: var(--pink);
  bottom: 0;
  margin: 10px 0px;
  font-size: 80%;
  font-weight: bold;
}

.invalidFormError {
  position: relative;
}

.premium-pitch {
  display: flex;
  flex-direction: column;
  width: 245px;
}
.premium-pitch .perks {
  display: none;
}
.premium-pitch input, .premium-pitch a {
  background-color: #30b360;
  color: white;
  width: 85px;
  min-width: unset;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px 2px;
  margin: 0px;
  text-decoration: none;
  border: none;
}

.add-padding {
  padding: 20px 0px;
}

.preview-display-none {
  display: none !important;
}

@media only screen and (min-width: 800px) {
  .premium-pitch {
    height: 80%;
    width: 320px;
    justify-content: space-between;
  }

  .publish-option {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
  }
  .publish-option input[type=submit] {
    width: 85px;
    height: 25px;
  }
  .publish-option button, .publish-option .option_price {
    font-size: 90%;
  }
  .publish-option .option_price {
    height: 100%;
    align-items: center;
    display: flex;
  }

  .actions {
    position: unset;
    height: 85%;
  }

  .invalidFormError {
    position: relative;
  }

  .preview-display-none {
    display: flex !important;
  }
}
@media only screen and (min-width: 1200px) {
  .premium-pitch {
    height: 80%;
    width: 410px;
    justify-content: space-between;
  }

  .publish-option button, .publish-option .option_price {
    font-size: 120% !important;
  }
}
:root {
  --pink: #FF4466;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #BFEEEA;
}

header, label {
  font-weight: 600;
}

label {
  text-transform: uppercase;
  font-size: 12px;
}

button {
  background-color: #FF4466;
  color: white;
  text-decoration: none;
  border: 0px;
  padding: 10px 5px;
  width: 90px;
}

.scrollY {
  overflow-y: scroll;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
}

.photoError::after {
  content: "Error: el formato de la imagen es invalido.";
  display: block;
  color: #FF4466;
}

#formScrollButtons button:nth-child(1) {
  position: absolute;
  left: 0;
}

#formScrollButtons button:nth-child(2) {
  position: absolute;
  right: 0;
}

#formScrollButtons button:nth-child(3) {
  position: absolute;
  right: 0;
}

fieldset {
  width: 100%;
  display: inline-block;
  border: 0;
  overflow-y: hidden;
}

.ad-preview {
  background: white;
  padding: 10px;
}

select, input {
  height: 25px;
}

.required::after {
  content: "*";
  color: #FF4466;
  display: inline-block;
}

.alert::before {
  content: "*";
  color: #FF4466;
  display: inline-block;
}

legend {
  visibility: hidden;
}

.publish-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

input:invalid + label:before {
  display: block;
  color: var(--pink);
  content: "invalido";
  margin-bottom: 20px;
}

input[type=tel]:invalid,
input[type=email]:invalid,
input[type=text]:invalid {
  border: 2px solid var(--pink);
}

input[type=submit] {
  margin-top: 10px;
}

ul {
  padding: 3px;
  margin-top: 3px;
}

/*    input[type="tel"]:invalid + label:before {

}*/

/*# sourceMappingURL=publicar.css.map */
