@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  --chevron-color: gray;
  --logo-star-color: #ffd801;
  --logo-garita-color: #885533;
  --logo-blue: #004377;
  --logo-red: #bb3301;
  --logo-green: #66ff55;
  --black: #000c14;
  --bg-option-blue: #3e5c76;
  --bg-option-blue2: #00cfc1;
  --bg-option-dandelion: #eeba0b;
  --bg-option-wine: #3c1518;
  --proposals-text: white;
  --proposals-bg-color: #031d33;
  --gr-short: 38.2%;
  --gr-long: 61.80%;
  --red: #b81d12;
  /*#bb0d01*/
  --blue: #124fb8;
  /*#003366;*/
  --standard-separation: 100px; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  height: inherit; }

footer {
  margin-top: 50px;
  padding: 25px 0px 25px 0px;
  background: white;
  color: black; }

img {
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5 {
  font-family: 'Anton';
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  transition: color 0.5s;
  cursor: pointer;
  color: white; }

a:hover {
  color: var(--logo-star-color); }

iframe {
  border: none;
  border: 2px solid white; }

body:before {
  position: fixed;
  z-index: -24;
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

body:after {
  position: fixed;
  z-index: -25;
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/bandera3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(100%); }

.ytp-chrome-top-buttons {
  display: none !important; }

.gr-short-width {
  width: var(--gr-short); }

.gr-long-width {
  width: var(--gr-long); }

.gr-short-height {
  height: var(--gr-short); }

.gr-long-height {
  height: var(--gr-long); }

.section {
  margin: auto;
  width: 90%; }

.hover {
  cursor: pointer;
  transition: background-color 0.25s; }

.desktop {
  display: none; }

.mobile {
  display: flex; }

@media only screen and (min-width: 800px) {
  .desktop {
    display: block; }

  .mobile {
    display: none; }

  .section {
    width: 85%; }

  footer {
    margin-top: 100px;
    padding: 25px 0px 25px 0px;
    background: white;
    color: black; } }
#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin-bottom: 50px; }
  #menu .logo, #menu .menu-items {
    height: 100%;
    padding: 10px 0px 10px 0px; }
  #menu .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
  #menu .menu-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5; }
  #menu .logo img {
    position: relative;
    z-index: 51;
    background: white;
    border-radius: 100px;
    width: 95px;
    height: 95px;
    cursor: pointer; }
  #menu .menu-items {
    overflow-y: scroll;
    padding-top: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: white;
    height: 100%;
    transition: width 0.5s;
    width: 0%; }
  #menu .menu-item {
    opacity: 0%;
    transition: opacity 1s;
    font-family: "Oswald";
    text-transform: capitalize;
    margin: 35px 0px 0px 20px; }
    #menu .menu-item a {
      color: rgba(0, 0, 0, 0.75); }
    #menu .menu-item a:hover {
      color: black; }
  #menu .snackbar {
    height: 25px;
    width: 25px; }
    #menu .snackbar img {
      object-fit: contain; }

.menu-background, #menu {
  height: 60px; }

.menu-background {
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  width: 100%;
  background: white; }

.showMenu {
  width: 50% !important; }

.showMenuItems {
  opacity: 100% !important; }

@media only screen and (min-width: 1000px) {
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px; }
    #menu .logo, #menu .menu-items {
      height: 100%;
      padding: 10px 0px 10px 0px; }
    #menu .logo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start; }
    #menu .menu-overlay {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 5; }
    #menu .logo img {
      background: white;
      border-radius: 100px;
      width: 100px;
      height: 100px;
      cursor: pointer; }
    #menu .menu-items {
      padding: 0px;
      position: relative;
      overflow-y: hidden;
      z-index: 0;
      width: auto;
      background: transparent;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
    #menu .menu-item {
      opacity: 100%;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      margin: 0px 0px 0px 45px; }
      #menu .menu-item a:hover {
        color: black; }

  .menu-background {
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    width: 100%;
    background: white; }

  #menu, .menu-background {
    height: 60px; } }
#index-content {
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start; }
  #index-content .nav-panel {
    position: relative;
    background: transparent;
    width: 100%; }
    #index-content .nav-panel .header {
      text-align: left;
      color: white;
      font-size: 25px; }
      #index-content .nav-panel .header h2 {
        position: relative;
        top: -25px; }
    #index-content .nav-panel .star {
      position: absolute;
      top: 80px;
      right: 200px;
      width: 30px;
      height: 30px; }
    #index-content .nav-panel .star img {
      object-fit: contain; }
    #index-content .nav-panel .options {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: auto; }
      #index-content .nav-panel .options .option {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: 30px;
        width: 100%;
        height: 50px;
        background: var(--red); }
        #index-content .nav-panel .options .option h3 {
          font-family: 'Oswald', sans-serif;
          font-size: 20px;
          color: white; }
      #index-content .nav-panel .options .option.hover:hover {
        background-color: #c25d38; }
      #index-content .nav-panel .options .option:nth-of-type(1) {
        clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 10% 100%, 5% 50%, 0% 0%); }
      #index-content .nav-panel .options .option:nth-of-type(2) {
        clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 15% 100%, 19% 50%, 15% 0%); }
      #index-content .nav-panel .options .option:nth-of-type(3) {
        clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 5% 50%, 10% 0%); }
  #index-content .video {
    height: 400px;
    width: 100%; }
  #index-content iframe {
    border: 1px solid var(white); }

.summary {
  margin-top: 30px;
  height: auto;
  width: 100%;
  background: white; }

.panels {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  overflow-y: hidden; }
  .panels .left-panel {
    padding: 90px 0px 90px 0px;
    background: white;
    height: 100%;
    width: 100%; }
    .panels .left-panel .header > h1 {
      color: black;
      font-size: 20px;
      font-style: italic; }
    .panels .left-panel .header {
      margin-bottom: 15px; }
    .panels .left-panel .content {
      font-size: 13px;
      line-height: 25px;
      text-align: justify; }
      .panels .left-panel .content a {
        color: black; }
  .panels .design {
    height: 100%;
    width: var(--gr-short); }
    .panels .design img {
      object-fit: cover; }

.plan {
  margin-top: 30px;
  background: transparent; }
  .plan .propuesta {
    cursor: pointer;
    padding: 30px;
    font-size: 20px;
    font-family: "Anton";
    font-style: italic;
    text-align: right;
    color: white;
    margin-bottom: 30px;
    height: 1em;
    width: 80%;
    background: var(--black);
    transition: background-color 0.25s; }
  .plan .propuesta:hover {
    background: red; }
  .plan .propuesta:nth-of-type(2) {
    width: 70%; }
  .plan .propuesta:nth-of-type(3) {
    width: 60%; }
  .plan .propuesta:nth-of-type(4) {
    width: 50%; }

.estadidad {
  background: var(--blue); }
  .estadidad .panels, .estadidad .left-panel {
    color: white;
    background: var(--blue); }
  .estadidad .panels .left-panel .header h1 {
    color: white; }
  .estadidad .panels .left-panel .content a {
    color: white; }
  .estadidad .design img {
    object-fit: contain; }
  .estadidad .design {
    margin-left: 30px; }

@media only screen and (min-width: 800px) {
  #index-content {
    height: 80vh;
    min-height: 202.39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
    #index-content .nav-panel, #index-content .video {
      height: 90%; }
    #index-content .nav-panel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      background: transparent;
      width: 38.2%;
      margin-right: 20px; }
      #index-content .nav-panel .header {
        text-align: left;
        color: white;
        font-size: 2.75em;
        height: var(--gr-short); }
        #index-content .nav-panel .header img {
          object-fit: contain;
          object-position: left; }
      #index-content .nav-panel .star {
        position: absolute;
        top: 80px;
        right: 5%;
        width: 90px;
        height: 90px; }
      #index-content .nav-panel .star img {
        object-fit: contain;
        filter: brightness(150%); }
      #index-content .nav-panel .options {
        width: 100%;
        height: var(--gr-long);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start; }
        #index-content .nav-panel .options .option {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-style: italic;
          margin-top: 30px;
          width: 100%;
          height: 20%; }
          #index-content .nav-panel .options .option h3 {
            font-size: 250%;
            color: white; }
        #index-content .nav-panel .options .option.hover:hover {
          background-color: #c25d38; }
    #index-content .video {
      width: 61.80%; }

  .summary {
    margin-top: var(--standard-separation);
    height: 60vh;
    width: 100%; }

  .panels {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    overflow-y: hidden; }
    .panels .left-panel {
      padding: 30px 0px 30px 0px;
      background: white;
      height: 100%;
      width: var(--gr-long); }
      .panels .left-panel .header > h1 {
        color: black;
        font-size: 50px;
        font-style: italic; }
      .panels .left-panel .header {
        margin-bottom: 15px; }
      .panels .left-panel .content {
        font-size: 20px;
        line-height: 30px;
        text-align: justify; }
        .panels .left-panel .content a {
          color: black; }
    .panels .design {
      height: 100%;
      width: var(--gr-short); }
      .panels .design img {
        object-fit: cover; }

  .plan {
    margin-top: var(--standard-separation);
    background: transparent; }
    .plan .propuesta {
      cursor: pointer;
      padding: 30px;
      font-size: 50px;
      font-family: "Anton";
      font-style: italic;
      text-align: right;
      color: white;
      margin-bottom: 30px;
      height: 1em;
      width: 80%;
      background: var(--black);
      transition: background-color 0.25s; }
    .plan .propuesta:hover {
      background: red; }
    .plan .propuesta:nth-of-type(2) {
      width: 70%; }
    .plan .propuesta:nth-of-type(3) {
      width: 60%; }
    .plan .propuesta:nth-of-type(4) {
      width: 50%; }

  .estadidad {
    background: var(--blue); }
    .estadidad .panels, .estadidad .left-panel {
      color: white;
      background: var(--blue); }
    .estadidad .panels .left-panel .header h1 {
      color: white; }
    .estadidad .panels .left-panel .content a {
      color: white; }
    .estadidad .design img {
      object-fit: contain; }
    .estadidad .design {
      margin-left: 30px; } }
@media only screen and (max-width: 1250px) {
  .star {
    top: 0px !important; }

  .header {
    font-size: 295% !important; } }

/*# sourceMappingURL=style.css.map */
