<div class="section" id="essay">
	<div class="article">
		<div class="title">
			<h1>{{ title }}</h1>
		</div>
		<div class="media">
			<img src="{{ media }}"> </img>
		</div>
		<div class="index">
			<ul>
			{{#indeces}}
				<li value="{{ contentId }}" class="index-item">
				{{title}}
				</li>
			{{/indeces}}
			</ul>
		</div>
		{{#sections}}
			<div id="{{ contentId }}" class="section-title">
				{{ title }}
			</div>
			<div class="content">
				{{#paragraphs}}
				<p>{{text}}</p>
				{{/paragraphs}}
			</div>
		{{/sections}}
		<div class="return">
			<a href="./index.html"> ← Regresar </a>
		</div>
	</div>
</div>