  <div id="index-content" class="section">
	<div class="nav-panel gr-short-width">
		<div class="header gr-short-height desktop">
			<h2>Partido Renacer de Puerto Rico</h2>
			<div class="star">
				<img src="assets/images/estrella.png" alt="star"></img>
			</div>
		</div>
		<div class="options gr-long-height">
			<div class="option hover">
				<a href="plan.html"><h3> Propuestas </h3></a>
			</div>
			<div class="option hover">
				<a href="pronto.html">
				<h3> Candidatos </h3></a>
			</div>
			<div class="option hover">
				<a href="pronto.html"><h3> Donaciones </h3></a>
			</div>
		</div>
	</div>

	<div class="video gr-long-width">
		<iframe  
			width="100%" 
			height="100%" 
			src="https://www.youtube.com/embed/aKLJG28Clc0?autoplay=1" 
			allowfullscreen>
		</iframe>
	</div>
  </div>