  <div id="index-content" class="section">
	<div class="nav-panel gr-short-width">
		<div class="header gr-short-height desktop">
			<img src="./assets/images/logo.png" alt="title"/>
		</div>
		<div class="options gr-long-height">
			<a class="option hover" href="plan.html">
				<h3> Propuestas </h3>
			</a>
			<a class="option hover" href="pronto.html">
				<h3> Candidatos </h3>
			</a>
			<a class="option hover" href="pronto.html">
				<h3> Donaciones </h3>
			</a>		
		</div>
	</div>
	<div class="video gr-long-width">
		<iframe  
			width="100%" 
			height="100%" 
			src="https://www.youtube.com/embed/aKLJG28Clc0" 
			allowfullscreen>
		</iframe>
	</div>	
  </div>
  <div class="summary">
	<div class="section panels">
		<div class="left-panel">
			<div class="header">
				<h1> Puerto Rico es una isla especial y tiene un gran potencial. </h1>
			</div>
			<div class="content">
				Podemos ser el mejor país del mundo si nos lo proponemos. Sin embargo, 
				estamos entrando en una nueva etapa de nuestro desarrollo y 
				necesitamos las herramientas necesarias.
				Las reglas de nuestra niñez ya no nos sirven. 
				Necesitamos libertad, oportunidad y una verdadera democracia. 
				En vez de preocuparnos por si debemos ser parte de Los Estados 
				Unidos, debemos tratar de ser como ese país. Debemos imitar 
				lo mejor de todos los países. Antes de cambiar nuestro estatus 
				necesitamos aprender a gobernar lo que tenemos.
					<br><br>
					<b>
						<em>
						<a class="summary-link"
						   href="./plan.html">Necesitamos valores, no colores >> </a>
						</em>
					</b>
			</div>
		</div>
		<div class="design desktop">
			<img src="./assets/images/garita.png" alt="design"/>
		</div>
	</div>
  </div>
  <div id="proposals" class="summary plan">
	{{#categories}}
		<div id="{{ id }}" class="propuesta"> {{ title }} </div>
	{{/categories}}
	<div class="sub-proposals">
		<h1>{{ parentTitle }}</h1>
		{{#subProposal}}
			<div id="{{content-id}}" 
			     class="sub-proposal">
				 {{title}} </div>
		{{/subProposal}}
		<div 
		   onclick="window.location.reload()"
		   class="return"> Regresar </div>
	</div>
  </div>
   <div class="summary estadidad">
	<div class="section panels">
		<div class="left-panel">
			<div class="header">
				<h1> ¿ Estadidad, Si o No ? </h1>
			</div>
			<div class="content">
				El enfoque de este partido es gobernar correctamente 
				lo que tenemos basado en principios correctos de filosofía 
				económica y de gobierno, y no enfocarnos en la pregunta del estatus. 
				La razón para esto es que hay países independientes que son pobres 
				y países independientes que son ricos, también hay estados pobres 
				y estados ricos. Por lo tanto, el cambiar el estatus no nos hará un 
				pueblo prospero si no cambiamos a la misma vez nuestra filosofía 
				económica y de gobierno. Sin embargo, dado a que muchas personas 
				piensan que nuestra esperanza se encuentra en un cambio de estatus 
				es sabio comentar sobre este asunto para demostrar que las alternativas 
				de estatus tienen graves obstáculos. 
					<br><br>
					<b>
						<em>
							<a class="summary-link" 
							   href="./estadidad.html">	
							   Lee el articulo completo >></a> 
						</em>
					</b>
			</div>
		</div>
		<div class="design desktop">
			<img src="./assets/images/flag.png" alt="design"/>
		</div>
	</div>
  </div>
